---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="About" description="About Project Failure.">
	<h1>About Project Failure</h1>
	<p>
		Project Failure makes comedy sketches that try to educate people about science, by getting
		the science wrong on purpose (and then setting it right).
	</p>
</BaseLayout>
