---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const resources = (await getCollection('resources', ({ data }) => !data.draft)).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Resources" description="Scripts and event recordings from Project Failure.">
	<h1>Resources</h1>
	<p>Scripts to read or perform, and recordings from past events.</p>
	<ul>
		{
			resources.map((resource) => (
				<li>
					<a href={`/resources/${resource.id}/`}>{resource.data.title}</a>
					<p>{resource.data.description}</p>
				</li>
			))
		}
	</ul>
</BaseLayout>
